@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
}

ul::-webkit-scrollbar {
  width: 10px;
  color: aqua;
}
ul::-webkit-scrollbar-thumb {
  background-color: #1A775B;
  border-radius: 10px;  
}